.badge{
    width: 40px;
    background-color: #293133;
    padding: 15px;
    border-radius: 190px;
    font-size: 40px;
    text-align: center;
    color: #fff;
    margin: 2px;
    margin-bottom: 5px;
}
.badge:hover{
  width: 42px;
  font-size: 42px;
  margin: 0;
  margin-bottom: 3px;
}
