/** style **/

/** menu **/
.icon-menu{
  font-size: 20px;
  margin-bottom: 10px;
}

/** home **/
.first{
  margin:0;
  padding:15px;
  background: linear-gradient(
             rgba(128,128,128, .2),
             rgba(128,128,128, .7)),
             url("../img/bg4.jpg") no-repeat;
  background-color: #293133;
  opacity: 0.9;
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  justify-content: flex-end;
}
@media screen and (min-width: 768px) {
  .first{
    padding:0;
    background: linear-gradient(
               rgba(128,128,128, .2),
               rgba(128,128,128, .7)),
               url("../img/bg4.jpg") no-repeat;
   background-position: right bottom;
   background-size: cover;

  }
}
.first-content{
  padding: 30px;
  background:  linear-gradient(
             rgba(250,250,250),
             rgba(250,250,250));
}
@media screen and (min-width: 768px) {
  .first-content{
    margin-top: 150px;
  }
}
.pict{
  margin-right: 15px;
  position: relative;
  font-size:100px;
  color: #fff;
  background-color: #293133;
  padding: 20px 40px;
}
.pict-text{
  color: #000;
  font-weight: bold;
  transform: rotate(-45deg);
  top: 42%;
  right: 7%;
  font-size: 30px;
  position: absolute;
}

.panel{
  display: none;
}
.panel-button{
  cursor: pointer;
}
/** skill **/
#skill{
  color: #293133;
}


/** contact **/
#contact{
  margin-top: 150px;
}
