/** utils **/
.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}
.float-right{
  float: right;
}
.font-small{
  font-size: 12px;
}
.font-large{
  font-size: 20px;
}
.margin-b{
  margin-bottom: 20px;
}
.flex{
  display: flex;
}
.flex-around{
    justify-content: space-around;
}
.flex-middle{
  align-items: center;
}
/** panel **/
.panel.active{
  display: block;
}
.panel-button.active{
  font-weight: bold;
  color: lightgray;
}
.badge{
    width: 40px;
    background-color: #293133;
    padding: 15px;
    border-radius: 190px;
    font-size: 40px;
    text-align: center;
    color: #fff;
    margin: 2px;
    margin-bottom: 5px;
}
.badge:hover{
  width: 42px;
  font-size: 42px;
  margin: 0;
  margin-bottom: 3px;
}
