<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta name="description" content="site de présentation de vincent deflandre, développeur front end">
    <title>Vincent Deflandre développeur front-end</title>
    <link rel="manifest" href="./manifest.json">
    <link rel="icon" type="image/png" href="./img/ico.ico" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="dist/bundle.css">
    <script
      src="https://code.jquery.com/jquery-3.3.1.js"
      integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
      crossorigin="anonymous"></script>
      <!-- production version, optimized for size and speed -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="js/master.js" charset="utf-8"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-76063623-1"></script>
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MQF4K2X"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!-- menu -->
    <menu id="menu">
      <div v-for="entry in entries" class="panel-button text-center" v-bind:data-id="entry.dataId">
        <div>
          <i v-bind:class="entry.icon"></i>
        </div>
        <div class="font-small">{{entry.name}}<div>
      </div>
    </menu>

    <div class="content">
      <!-- home -->
      <div id="home" class="panel first">
        <div class="flex flex-around flex-middle">
          <div class="first-content">
            <div class="text-center margin-b">
              <i class="fas fa-exclamation-triangle"></i> Work in progress <i class="fas fa-exclamation-triangle"></i>
            </div>
            <div class="flex">
              <div class="pict">
                <i class="fas fa-user"></i>
              </div>
              <div id="presentation">
                <div v-for="info in infos">
                  <div>{{info.id}} <span>{{info.key}}</span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- skill -->
      <div id="skill" class="panel part2">
        <h2 class="text-center">Compétences</h2>
        <div class="flex flex-around flex-middle font-large margin-b badge-skill">
          <div class="html text-center">
            <div class="badge">
              <div class="badge-inner">
                <div class="badge-front">
                  <i class="fab fa-html5 badge"></i>
                </div>
                <div class="badge-back">
                  <div class="badge">
                    85%
                  </div>
                </div>
              </div>
            </div>
            <div>HTML</div>
          </div>
          <div class="css text-center">
            <div class="badge">
              <div class="badge-inner">
                <div class="badge-front">
                  <i class="fab fa-css3-alt badge"></i>
                </div>
                <div class="badge-back">
                  <div class="badge">
                    85%
                  </div>
                </div>
              </div>
            </div>
            <div>CSS</div>
          </div>
          <div class="sass text-center">
            <div class="badge">
              <div class="badge-inner">
                <div class="badge-front">
                <i class="fab fa-sass badge"></i>
                </div>
                <div class="badge-back">
                  <div class="badge">
                    60%
                  </div>
                </div>
              </div>
            </div>
            <div>Sass</div>
          </div>
          <div class="javascript text-center">
            <div class="badge">
              <div class="badge-inner">
                <div class="badge-front">
                  <i class="fab fa-js badge"></i>
                </div>
                <div class="badge-back">
                  <div class="badge">
                    70%
                  </div>
                </div>
              </div>
            </div>
            <div>Javascript</div>
          </div>
        </div>
        <div class="flex flex-around flex-middle font-large badge-skill">
          <div class="gulp text-center">
            <div class="badge">
              <div class="badge-inner">
                <div class="badge-front">
                  <i class="fab fa-gulp badge"></i>
                </div>
                <div class="badge-back">
                  <div class="badge">
                    65%
                  </div>
                </div>
              </div>
            </div>
            <div>Gulp</div>
          </div>
          <div class="ubntu text-center">
            <div class="badge">
              <div class="badge-inner">
                <div class="badge-front">
                  <i class="fab fa-linux badge"></i>
                </div>
                <div class="badge-back">
                  <div class="badge">
                    70%
                  </div>
                </div>
              </div>
            </div>
            <div>Linux</div>
          </div>
        </div>

        <h2 class="text-center">En dehors du travail</h2>
        <div class="flex flex-around flex-middle font-large">
          <div class="muscu text-center">
            <div class="badge">
              <div class="badge-inner">
                <div class="badge-front">
                  <i class="fas fa-dumbbell badge"></i>
                </div>
                <div class="badge-back">
                  <div class="badge">
                    <i class="fas fa-dumbbell badge"></i>
                  </div>
                </div>
              </div>
            </div>
            <div>Musculation</div>
          </div>
          <div class="game text-center">
            <div class="badge">
              <div class="badge-inner">
                <div class="badge-front">
                  <i class="fas fa-gamepad badge"></i>
                </div>
                <div class="badge-back">
                  <div class="badge">
                    <i class="fas fa-gamepad badge"></i>
                  </div>
                </div>
              </div>
            </div>
            <div>Jeux vidéo</div>
          </div>
          <div class="magic text-center">
            <div class="badge">
              <div class="badge-inner">
                <div class="badge-front">
                  <i class="fab fa-wizards-of-the-coast badge"></i>
                </div>
                <div class="badge-back">
                  <div class="badge">
                    <i class="fab fa-wizards-of-the-coast badge"></i>
                  </div>
                </div>
              </div>
            </div>
            <div>Magic</div>
          </div>
        </div>
      </div>

      <!-- project -->
      <div id="project" class="panel part3">
        je suis du contenu project
      </div>

      <!-- contact -->
      <div id="contact" class="panel part4">
        <h2 class="text-center">Contactez-moi</h2>
        <div class="flex flex-around flex-middle font-large text-center">
          <div class="linkedin">
            <i class="far fa-envelope badge"></i>
            <div>Mail</div>
          </div>
          <div class="linkedin">
            <a rel="noreferrer" href="https://www.linkedin.com/in/deflandre-vincent-frontend/" target="_blank">
              <i class="fab fa-linkedin-in badge"></i>
              <div>LinkedIn</div>
            </a>
          </div>
          <div class="twitter text-center">
            <a rel="noreferrer" href="https://twitter.com/kiravince?lang=fr" target="_blank">
              <i class="fab fa-twitter badge"></i>
              <div>Twitter</div>
            </a>
          </div>
        </div>
      </div>

    </div>

    <!-- footer -->
    <footer>
      <div class="text-center">
        <i class="far fa-copyright"></i> Vincent Deflandre
      </div>
    </footer>

    <script src="js/masterVue.js" charset="utf-8"></script>

  </body>
</html>
