<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../../dist/bundle.css">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <script src="../js/plugins/passwordStep.js" charset="utf-8"></script>
  </head>
  <body>
    <div class="back">
      <i class="fas fa-chevron-left"></i><a href="/">Retour au site</a>
    </div>
    <div>
      <input type="password" id="passwordInput" placeholder="password"/>
    </div>
  </body>
  <script>
    var init = new stepPassword();
  </script>
</html>
